<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <title>Using Public API</title>
</head>
<body>
    <strong>Running successfully on <%= port %></strong>
</body>
</html>